<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.orph.dataservice.mapper.TbCellKPIMapper">

    <insert id="insertBatch" parameterType="java.util.List">
        REPLACE INTO tbCellKPI
        VALUES
        <foreach collection="list" item="tbcellkpi" separator=",">
            (
            null,
            #{tbcellkpi.startTime},
            #{tbcellkpi.enodebName},
            #{tbcellkpi.sectorDescription},
            #{tbcellkpi.sectorName},
            #{tbcellkpi.rrcComplete},
            #{tbcellkpi.rrcRequest},
            #{tbcellkpi.rrcSuccessPer},
            #{tbcellkpi.erabSuccess},
            #{tbcellkpi.erabTry},
            #{tbcellkpi.erabSuccessPer},
            #{tbcellkpi.enodebTringErabException},
            #{tbcellkpi.sectorSwitchOutErabException},
            #{tbcellkpi.erabOfflinePer},
            #{tbcellkpi.wirelessOnlinePer},
            #{tbcellkpi.enodebS1ResetUeContextRelease},
            #{tbcellkpi.ueContextException},
            #{tbcellkpi.ueContextSuccess},
            #{tbcellkpi.wirelessOfflinePer},
            #{tbcellkpi.enodebInDiffFreqSwitchOutSuccess},
            #{tbcellkpi.enodebInDiffFreqSwitchOutTry},
            #{tbcellkpi.enodebInSameFreqSwitchOutSuccess},
            #{tbcellkpi.enodebInSameFreqSwitchOutTry},
            #{tbcellkpi.enodebBetweenDiffFreqSwitchOutSuccess},
            #{tbcellkpi.enodebBetweenDiffFreqSwitchOutTry},
            #{tbcellkpi.enodebBetweenSameFreqSwitchOutSuccess},
            #{tbcellkpi.enodebBetweenSameFreqSwitchOutTry},
            #{tbcellkpi.enbInSwitchSuccessPer},
            #{tbcellkpi.enbBetweenSwitchSuccessPer},
            #{tbcellkpi.sameFreqSwitchSuccessPer},
            #{tbcellkpi.diffFreqSwitchSuccessPer},
            #{tbcellkpi.switchSuccessPer},
            #{tbcellkpi.sectorPdcpLayerRecvUploadThroughputBit},
            #{tbcellkpi.sectorPdcpLayerSendDnloadThroughputBit},
            #{tbcellkpi.rrcReconnect},
            #{tbcellkpi.rrcReconnectPer},
            #{tbcellkpi.throughRebuildBackEnodebBeteeenSameFreqSwitchOutSuccess},
            #{tbcellkpi.throughRebuildBackEnodebBeteeenDiffFreqSwitchOutSuccess},
            #{tbcellkpi.throughRebuildBackEnodebInSameFreqSwitchOutSuccess},
            #{tbcellkpi.throughRebuildBackEnodebInDiffFreqSwitchOutSuccess},
            #{tbcellkpi.enbInSwitchOutSuccess},
            #{tbcellkpi.enbInSwitchOutTry}
            )
        </foreach>
    </insert>
    
</mapper>
