<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.orph.dataservice.mapper.TbPRBMapper">

    <insert id="insertBatch" parameterType="java.util.List">
        REPLACE INTO tbPRB
        VALUES
        <foreach collection="list" item="tbprb" separator=",">
            (
            null,
            #{tbprb.startTime},
            #{tbprb.enodebName},
            #{tbprb.sectorDescription},
            #{tbprb.sectorName},
            #{tbprb.avginterferingnoiseonprb00Dbmw},
            #{tbprb.avginterferingnoiseonprb01Dbmw},
            #{tbprb.avginterferingnoiseonprb02Dbmw},
            #{tbprb.avginterferingnoiseonprb03Dbmw},
            #{tbprb.avginterferingnoiseonprb04Dbmw},
            #{tbprb.avginterferingnoiseonprb05Dbmw},
            #{tbprb.avginterferingnoiseonprb06Dbmw},
            #{tbprb.avginterferingnoiseonprb07Dbmw},
            #{tbprb.avginterferingnoiseonprb08Dbmw},
            #{tbprb.avginterferingnoiseonprb09Dbmw},
            #{tbprb.avginterferingnoiseonprb10Dbmw},
            #{tbprb.avginterferingnoiseonprb11Dbmw},
            #{tbprb.avginterferingnoiseonprb12Dbmw},
            #{tbprb.avginterferingnoiseonprb13Dbmw},
            #{tbprb.avginterferingnoiseonprb14Dbmw},
            #{tbprb.avginterferingnoiseonprb15Dbmw},
            #{tbprb.avginterferingnoiseonprb16Dbmw},
            #{tbprb.avginterferingnoiseonprb17Dbmw},
            #{tbprb.avginterferingnoiseonprb18Dbmw},
            #{tbprb.avginterferingnoiseonprb19Dbmw},
            #{tbprb.avginterferingnoiseonprb20Dbmw},
            #{tbprb.avginterferingnoiseonprb21Dbmw},
            #{tbprb.avginterferingnoiseonprb22Dbmw},
            #{tbprb.avginterferingnoiseonprb23Dbmw},
            #{tbprb.avginterferingnoiseonprb24Dbmw},
            #{tbprb.avginterferingnoiseonprb25Dbmw},
            #{tbprb.avginterferingnoiseonprb26Dbmw},
            #{tbprb.avginterferingnoiseonprb27Dbmw},
            #{tbprb.avginterferingnoiseonprb28Dbmw},
            #{tbprb.avginterferingnoiseonprb29Dbmw},
            #{tbprb.avginterferingnoiseonprb30Dbmw},
            #{tbprb.avginterferingnoiseonprb31Dbmw},
            #{tbprb.avginterferingnoiseonprb32Dbmw},
            #{tbprb.avginterferingnoiseonprb33Dbmw},
            #{tbprb.avginterferingnoiseonprb34Dbmw},
            #{tbprb.avginterferingnoiseonprb35Dbmw},
            #{tbprb.avginterferingnoiseonprb36Dbmw},
            #{tbprb.avginterferingnoiseonprb37Dbmw},
            #{tbprb.avginterferingnoiseonprb38Dbmw},
            #{tbprb.avginterferingnoiseonprb39Dbmw},
            #{tbprb.avginterferingnoiseonprb40Dbmw},
            #{tbprb.avginterferingnoiseonprb41Dbmw},
            #{tbprb.avginterferingnoiseonprb42Dbmw},
            #{tbprb.avginterferingnoiseonprb43Dbmw},
            #{tbprb.avginterferingnoiseonprb44Dbmw},
            #{tbprb.avginterferingnoiseonprb45Dbmw},
            #{tbprb.avginterferingnoiseonprb46Dbmw},
            #{tbprb.avginterferingnoiseonprb47Dbmw},
            #{tbprb.avginterferingnoiseonprb48Dbmw},
            #{tbprb.avginterferingnoiseonprb49Dbmw},
            #{tbprb.avginterferingnoiseonprb50Dbmw},
            #{tbprb.avginterferingnoiseonprb51Dbmw},
            #{tbprb.avginterferingnoiseonprb52Dbmw},
            #{tbprb.avginterferingnoiseonprb53Dbmw},
            #{tbprb.avginterferingnoiseonprb54Dbmw},
            #{tbprb.avginterferingnoiseonprb55Dbmw},
            #{tbprb.avginterferingnoiseonprb56Dbmw},
            #{tbprb.avginterferingnoiseonprb57Dbmw},
            #{tbprb.avginterferingnoiseonprb58Dbmw},
            #{tbprb.avginterferingnoiseonprb59Dbmw},
            #{tbprb.avginterferingnoiseonprb60Dbmw},
            #{tbprb.avginterferingnoiseonprb61Dbmw},
            #{tbprb.avginterferingnoiseonprb62Dbmw},
            #{tbprb.avginterferingnoiseonprb63Dbmw},
            #{tbprb.avginterferingnoiseonprb64Dbmw},
            #{tbprb.avginterferingnoiseonprb65Dbmw},
            #{tbprb.avginterferingnoiseonprb66Dbmw},
            #{tbprb.avginterferingnoiseonprb67Dbmw},
            #{tbprb.avginterferingnoiseonprb68Dbmw},
            #{tbprb.avginterferingnoiseonprb69Dbmw},
            #{tbprb.avginterferingnoiseonprb70Dbmw},
            #{tbprb.avginterferingnoiseonprb71Dbmw},
            #{tbprb.avginterferingnoiseonprb72Dbmw},
            #{tbprb.avginterferingnoiseonprb73Dbmw},
            #{tbprb.avginterferingnoiseonprb74Dbmw},
            #{tbprb.avginterferingnoiseonprb75Dbmw},
            #{tbprb.avginterferingnoiseonprb76Dbmw},
            #{tbprb.avginterferingnoiseonprb77Dbmw},
            #{tbprb.avginterferingnoiseonprb78Dbmw},
            #{tbprb.avginterferingnoiseonprb79Dbmw},
            #{tbprb.avginterferingnoiseonprb80Dbmw},
            #{tbprb.avginterferingnoiseonprb81Dbmw},
            #{tbprb.avginterferingnoiseonprb82Dbmw},
            #{tbprb.avginterferingnoiseonprb83Dbmw},
            #{tbprb.avginterferingnoiseonprb84Dbmw},
            #{tbprb.avginterferingnoiseonprb85Dbmw},
            #{tbprb.avginterferingnoiseonprb86Dbmw},
            #{tbprb.avginterferingnoiseonprb87Dbmw},
            #{tbprb.avginterferingnoiseonprb88Dbmw},
            #{tbprb.avginterferingnoiseonprb89Dbmw},
            #{tbprb.avginterferingnoiseonprb90Dbmw},
            #{tbprb.avginterferingnoiseonprb91Dbmw},
            #{tbprb.avginterferingnoiseonprb92Dbmw},
            #{tbprb.avginterferingnoiseonprb93Dbmw},
            #{tbprb.avginterferingnoiseonprb94Dbmw},
            #{tbprb.avginterferingnoiseonprb95Dbmw},
            #{tbprb.avginterferingnoiseonprb96Dbmw},
            #{tbprb.avginterferingnoiseonprb97Dbmw},
            #{tbprb.avginterferingnoiseonprb98Dbmw},
            #{tbprb.avginterferingnoiseonprb99Dbmw}
            )
        </foreach>
    </insert>

</mapper>
